@charset "utf-8";

// -------------------------------------------------------------------
//  pickup
// -------------------------------------------------------------------

.pickup {
  @include media(pc_min) {
    h2 {
      margin-bottom: 30px;
    }
    
    .sp_list_inner {
      text-align: center;
      width: 93.4%;
      margin: 20px auto;
      position: relative;
      background: $COLOR_SUB url('/common/sp_arrow_bottom.png') no-repeat;
      background-position: center right 20px;
      background-size: 15px; 
      border-radius: 6px;
      cursor: pointer; /* IEでcursorがチラついたので */
    }

    .sp_list {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      cursor: pointer;
      width: 100%;
      height: 50px;
      border: none;
      opacity: 0;
      position: relative;
      z-index: 2;
    }

    .sp_list:focus {
      z-index: -1;
      opacity: 1;
    }

    .label {
      color: $COLOR_TEXT;
      position: absolute;
      width: 100%;
      z-index: 1;
      font-size: $PC_FONT_L;
      font-weight: bold;
      padding: 12px 0;
    }
  }
  
  @include media(sp) {
    
    .label {
      font-size: $SP_FONT_M;
      padding: 14px 0;
    }
  }
  .list {
    width: 100%;
    
    li {
      display: inline-block;
      
      a {
        font-size: $PC_FONT_SS;
        text-align: center;
        border-collapse: collapse;
        border: 1px solid $COLOR_LINE;
        border-collapse: collapse;
        width: 168px;
        padding: 13px;
        position: relative;
        
        &:hover {
          background: $COLOR_LINK_HOVER;
          color: $COLOR_MAIN;
          opacity: 1;
          
          &:after {
            content: ' ';
            width: 0;
            height: 0;
            position: absolute;
            border: 5px solid transparent;
            border-top-color: $COLOR_LINK_HOVER;
            top: 100%;
            left: 50%;
            margin-left: -10px;
          }
        }
        &.active {
          background: $COLOR_LINK_HOVER;
          color: $COLOR_MAIN;
          
          &:after {
            content: ' ';
            width: 0;
            height: 0;
            position: absolute;
            border: 5px solid transparent;
            border-top-color: $COLOR_LINK_HOVER;
            top: 100%;
            left: 50%;
            margin-left: -10px;
          }
        }
      }
    }
  }
  .articles {
    padding-bottom: 40px;
    
    article {
      display: inline-block;
      margin-right: 18px;
      margin-top: 30px;
      
      a {
        width: 310px;
        border: 1px solid $COLOR_LINE;
        
        .img {
          width: 100%;
//          min-height: 170px;
          
          &.sp {
            
          }
          
          img {
            width: 100%;
          }
        }
        
        .text {
          padding: 15px 20px 20px 20px;
          font-size: $PC_FONT_M;
          font-weight: bold;
          text-align: left;
          
          .badge {
            @include borderRadiuscate;
            padding: 5px 30px;
            color: $COLOR_MAIN;
            font-size: $PC_FONT_SSS;
            font-weight: normal;
            white-space: nowrap;
            margin-bottom: 15px;
            text-align: center;
          }
        }
      }
      
      &:nth-child(3n) {
        margin-right: 0;
      }
      
      &.company {
        .text {
          .badge {
            background: $COLOR_ORANGE;
            width: 60px;
          }
        }
      }
      &.works {
        .text {
          .badge {
            background: $COLOR_GREEN;
            width: 80px;
          }
        }
      }
      &.environment {
        .text {
          .badge {
            background: $COLOR_PURPLE;
            width: 80px;
          }
        }
      }
      &.recruit {
        .text {
          .badge {
            background: $COLOR_BLUE;
            width: 50px;
          }
        }
      }
      
      @include media(pc_min) {
        width: 100%;
        border-bottom: 1px solid $COLOR_LINE;
        margin-top: 0;
        margin-right: 0;
        
        &:first-child {
          border-top: 1px solid $COLOR_LINE;
        }
        
        a {
          @include clearfix;
          width: 94%;
          padding-top: 20px;
          padding-bottom: 20px;
          margin: 0 auto;
          border: none;
          display: table;
          
          .text,
          .img {
            display: table-cell;
            vertical-align: middle;
          }
          .title {
            color: $COLOR_TEXT_SUB;
            font-weight: normal;
            font-size: $SP_FONT_S;
            margin-bottom: 5px;
          }
          
          .text {
            width: 57%;
            padding: 0;
            text-align: left;
            
            .badge {
              margin-bottom: 10px;
            }
          }
          .img {
            width: auto;
            min-height: inherit;
            padding-left: 5%;
          }
        }
      }
    }
  }
}

.pickup.sub {
  .articles {
    article {
      margin-right: 18px;
      &:nth-child(4n) {
        margin-right: 0;
      }
      
      a {
        width: 225px;
        @include media(pc_min) {
          width: 100%;
        }
      }
    }
  }
}