a {
  color: $COLOR_LINK;
  text-decoration: none!important;
  display: inline-block;
  font-size: $PC_FONT_M;
  
  &:link {
    color: $COLOR_LINK;
  }
  &:visited {
    color: $COLOR_LINK_VISITED;
  }
  &:hover {
    @include BASEOPACITY;
    color: $COLOR_LINK_HOVER;
  }
  &:active {
    color: $COLOR_LINK_ACTIVE;
  }
  &:focus {
    color: $COLOR_LINK_FOCUS;
  }
  &.link_arrow {
    background: url('/images/common/arrow_right.png') center left no-repeat;
    background-size: 8px;
    padding-left: 12px;
    color: $COLOR_LINK;
    text-decoration: underline;
  }
}