{% extends "layout/_base.html" %}

{% block title %}
{% endblock %}

{% block js %}
<script src="/js/page.js"></script>
<script src="/js/jquery.heightLine.js"></script>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block body %}
<div class="company wrap">
  <div class="main_visual">
    <img src="/images/common/main_company.png" alt="" class="contents_visual">
  </div>
  <div class="topicpath">
    <ul>
      <li><a href="../">ホーム</a></li>
      <li class="active">会社を知る</li>
    </ul>
  </div>

  <section class="main">
    <div class="content_base">
      <h2>企業情報</h2>
      <ul>
        <li><a href="http://www.loyalty.co.jp/company#summary" target="_blank" class="button">会社概要</a></li>
        <li><a href="http://www.loyalty.co.jp/company#philosophy" target="_blank" class="button">企業理念</a></li>
        <li><a href="http://www.loyalty.co.jp/company#access" target="_blank" class="button">アクセス</a></li>
      </ul>
      <p class="pt20"><a href="http://www.loyalty.co.jp/" target="_blank">本サイトはこちらから</a></p>
      <div class="about">
        <a href="/company/about/">
          <p class="text">数字で見るロイヤリティー マーケティング</p>
        </a>
      </div>
    </div>
  </section>

</div>

{% endblock %}