{% extends "layout/_base.html" %}

{% block title %}
{% endblock %}

{% block js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block body %}
<div class="message">
  <div class="main_visual">
    <img src="/images/index/main_v01.png" alt="" class="contents_visual">
  </div>
  <div class="topicpath">
    <ul>
      <li><a href="../">ホーム</a></li>
      <li class="active">学生の皆様へ</li>
    </ul>
  </div>

  <section>
    <h2>学生の皆様へ</h2>
    <div class="content_base mt30">
      <p>共通ポイントサービス「Ponta（ポンタ）」は今、人々の生活の隅々に広がり続けています。サービスを開始した2010年以降、「Ponta」は、お店でのお買い物に留まらず、インターネットでのお買い物や、交通・電力・通信などの利用に至るまで、生活を横断するポイントサービスへと進化してきました。この広がりは海を越え、インドネシアや台湾にも進出し、それぞれの国の人々の生活にも「Ponta」が浸透しはじめています。<br><br>「Ponta」を運営する当社、ロイヤリティ マーケティングの企業理念は、「無駄のない消費社会の構築に貢献する」こと。社会を見据え、生活者と企業を価値ある情報で繋ぐことで、真の生活者ニーズに合致したマーケティングサービスの提供を目指しています。「情報流」を革新する”イノベーター“として、世界中の生活者に「シアワセ」を、顧客企業に「アリガトウ」を届けていく。当社が目指す、このような世界を、共に創造していきたいと考える学生の皆様のご応募をお待ちしています。
      </p>
      
      <p class="sign">代表取締役社長</p>
    </div>
    <!-- content_base -->
  </section>
  
</div>

{% endblock %}