{% extends "layout/_base.html" %}

{% block title %}
{% endblock %}

{% block js %}
<script src="/js/page.js"></script>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block body %}
<div class="recruit wrap">
  <div class="main_visual">
    <img src="/images/index/main_v01.png" alt="" class="contents_visual">
  </div>
  <div class="topicpath">
    <ul>
      <li><a href="../">ホーム</a></li>
      <li class="active">採用について</li>
    </ul>
  </div>

  <section class="main">
    <div class="content_base">
      <h2>応募要項</h2>
      <table>
        <tr>
          <th>雇用形態</th>
          <td>正社員</td>
        </tr>
        <tr>
          <th>給与</th>
          <td>月給22万円（大学卒）
            <br>月給26万円（大学院卒）</td>
        </tr>
        <tr>
          <th>昇給</th>
          <td>目標達成度評価・バリュー評価をもとに昇給を決定</td>
        </tr>
        <tr>
          <th>賞与</th>
          <td>年2回（６月・12月）</td>
        </tr>
        <tr>
          <th>勤務時間</th>
          <td>9:30～18:00（昼休み1時間）</td>
        </tr>
        <tr>
          <th>休日休暇</th>
          <td>土日祝日（一部シフト制）、年末年始、年次有給休暇 （年次有休積立制度有・連続休暇取得奨励）、特別休暇（産前産後、育児、子の看護、介護、慶弔、結婚等）</td>
        </tr>
        <tr>
          <th>保険</th>
          <td>各種社会保険完備（雇用保険、労災保険、健康保険、厚生年金保険）</td>
        </tr>
        <tr>
          <th>退職金</th>
          <td>一時金、確定拠出年金制度</td>
        </tr>
        <tr>
          <th>その他</th>
          <td>定期健康診断、福利厚生補助金制度※リフレッシュを目的とした活動に補助金を支給
            <br>慶弔見舞金制度</td>
        </tr>
      </table>
    </div>
  </section>

  <section>
    <div class="content_base">
      <h2>入社までの流れ</h2>
      <ul class="flow">
        <li class="flow_entry">エントリー</li>
        <li class="flow_briefing">説明会参加</li>
        <li class="flow_test">ES・SPI
          <br> 面接(数回)</li>
        <li class="flow_decision">内定</li>
      </ul>

      <p class="pt10">現在、インターンシップの参加を受け付けております。</p>
      <p class="pt10"><a class="link_arrow" href="https://job.rikunabi.com/2016/company/top/r451951060/" target="_blank">リクナビページへ</a></p>
    </div>
  </section>

  <section>
    <div class="content_base">
      <h2>採用FAQ</h2>
      <ul class="faq">
        <li>
          <div class="toggle">
            <p class="inner"><span>Q.</span>エントリーをするには、どうすればよいでしょうか。</p>
          </div>
          <div class="inner child">
            <p>まずはリクナビからプレエントリーをお願いいたします。</p>
          </div>
        </li>
        <li>
          <div class="toggle">
            <p class="inner"><span>Q.</span>会社説明会に参加しないと選考に応募はできないのでしょうか。</p>
          </div>
          <div class="inner child">
            <p>選考にご応募頂くには説明会に参加頂く必要がございます。</p>
          </div>
        </li>
        <li>
          <div class="toggle">
            <p class="inner"><span>Q.</span>過去の採用実績は？</p>
          </div>
          <div class="inner child">
            <p>新卒は2014年入社2名（男：女＝1:1）
              <br> 2015年入社6名（3:3）
              <br> 2016年入社予定8名（4:4）
            </p>
          </div>
        </li>
        <li>
          <div class="toggle">
            <p class="inner"><span>Q.</span>2017年度の採用予定人数はどれくらいですか。</p>
          </div>
          <div class="inner child">
            <p>新卒は10名程度を予定しております。</p>
          </div>
        </li>
        <li>
          <div class="toggle">
            <p class="inner"><span>Q.</span> 遠方に住んでいますが、選考に進んだ際に交通費は支給されますか。</p>
          </div>
          <div class="inner child">
            <p>最終面接以降、首都圏以外から本社（東京）へ来られる場合、交通費をお支払いしています。詳しい金額に関しては、最終面接をご案内する際にお伝えいたします。また、遠方の方につきましては、skypeによる一次面接も実施しています。
            </p>
          </div>
        </li>
        <li>
          <div class="toggle">
            <p class="inner"><span>Q.</span> 英語力は必要かですか。どの程度の英語力が望ましいですか。
            </p>
          </div>
          <div class="inner child">
            <p>最終判断の場面で、英語力の高い方が優位になると考えていますが、英語力のみで判断することはありません。</p>
          </div>
        </li>
        <li>
          <div class="toggle">
            <p class="inner"><span>Q.</span> 入社後海外勤務はありますか。</p>
          </div>
          <div class="inner child">
            <p>本人が希望して、能力があれば、将来は海外勤務の可能性はあります。海外で業務を取り回せて、現地の人に指導できるレベルになることが前提です。</p>
          </div>
        </li>
        <li>
          <div class="toggle">
            <p class="inner"><span>Q.</span> どこの部署に配属されるのか。</p>
          </div>
          <div class="inner child">
            <p>本人の希望・適性、社内の状況等全体を鑑み、配属先を決めることになります。</p>
          </div>
        </li>
        <li>
          <div class="toggle">
            <p class="inner"><span>Q.</span>育児との両立は可能ですか。</p>
          </div>
          <div class="inner child">
            <p>育児の両立は可能です。育児休暇を終わってから2名復帰済み、今年さらに2名復帰予定です。</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

{% endblock %}